PORT=3000
JWT_SECRET=your-super-secret-jwt-key-change-in-production
NODE_ENV=development
FILE_UPLOAD_HOST=localhost:3000
DATABASE_URL="postgresql://postgres.deoyojkgpfxurhbevfnw:r7x33eVhpVMKUkUM@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres.deoyojkgpfxurhbevfnw:r7x33eVhpVMKUkUM@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"
USDA_API_KEY=F0mqEtHVKPvdI95Ad9lHWj2xCzdq7Ybkj3fakOwx

# For Railway Production, set this from Railway environment variables
# DATABASE_URL="postgresql://[user]:[password]@[host]:[port]/[database]"
